<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tellus.service.core.mapper.LoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tellus.service.core.model.LoginLogEntity">
        <id column="ID" property="id" />
        <result column="SIGN_TYPE" property="signType"/>
        <result column="USERNAME" property="username" />
        <result column="LOGIN_TIME" property="loginTime" />
        <result column="CLIENT_IP" property="clientIp" />
        <result column="CLIENT_HOST" property="clientHost" />
        <result column="CLIENT_MAC" property="clientMac" />
        <result column="DEVICE" property="device" />
        <result column="USER_AGENT" property="userAgent" />
        <result column="REFERER" property="referer" />
        <result column="SUCCESSFUL" property="successful" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SIGN_TYPE, USERNAME, LOGIN_TIME, CLIENT_IP, CLIENT_HOST, CLIENT_MAC, DEVICE, USER_AGENT, REFERER, SICCESSFUL
    </sql>

</mapper>
