<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tellus.service.core.mapper.PdmanDbVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tellus.service.core.model.PdmanDbVersionEntity">
        <result column="DB_VERSION" property="dbVersion" />
        <result column="VERSION_DESC" property="versionDesc" />
        <result column="CREATED_TIME" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DB_VERSION, VERSION_DESC, CREATED_TIME
    </sql>

</mapper>
