<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tellus.service.core.mapper.PlatformMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tellus.service.core.model.PlatformEntity">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="CODE" property="code"/>
        <result column="ENABLED" property="enabled"/>
        <result column="CREATOR" property="creator"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="UPDATER" property="updater"/>
        <result column="UPDATED_AT" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, CODE, ENABLED, CREATOR, CREATED_AT, UPDATER, UPDATED_AT
    </sql>



</mapper>
