<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tellus.service.core.mapper.RoleFieldMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tellus.service.core.model.RoleFieldEntity">
        <id column="ROLE_ID" property="roleId"/>
        <result column="FIELD_ID" property="fieldId"/>
        <result column="DISPLAY_MODE" property="displayMode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID,
        FIELD_ID,
        DISPLAY_MODE
    </sql>

    <!-- 批量删除角色-字段关系数据, (下级角色同步删除) -->
    <delete id="deleteBatchWithSubordinates">
        DELETE FROM T_ROLE_FIELD WHERE ROLE_ID IN (SELECT DESCENDANT FROM T_RELATION WHERE TYPE = 3 AND ANCESTOR = #{roleId})
        <if test="fieldIds != null and fieldIds.size() != 0">
            AND FIELD_ID IN
            <foreach collection="fieldIds" index="index" item="fieldId" open="" close="" separator=";">
                #{fieldId}
            </foreach>
        </if>
    </delete>

    <!-- 批量更新角色-字段关系数据 (同步下级角色) -->
    <update id="updateBatchWithSubordinates" parameterType="java.util.List">
        <foreach collection="entities" item="item" index="index" open="" close="" separator=";">
            UPDATE T_ROLE_FIELD RF
            <set>
                RF.DISPLAY_MODE = #{item.displayMode,jdbcType=INTEGER}
            </set>
            WHERE RF.ROLE_ID IN
                  (SELECT REL.DESCENDANT FROM T_RELATION REL WHERE REL.TYPE = 3 AND REL.ANCESTOR = #{item.roleId})
              AND RF.FIELD_ID = #{item.fieldId}
              AND (RF.DISPLAY_MODE <![CDATA[<]]> #{item.displayMode} OR RF.ROLE_ID = #{item.roleId})
        </foreach>
    </update>
</mapper>
