<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tellus.service.core.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tellus.service.core.model.RoleEntity">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="ROLE" property="role" />
        <result column="REMARK" property="remark" />
        <result column="ENABLED" property="enabled" />
        <result column="CREATOR" property="creator" />
        <result column="CREATED_AT" property="createdAt" />
        <result column="UPDATER" property="updater" />
        <result column="UPDATED_AT" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, ROLE, REMARK, ENABLED, CREATOR, CREATED_AT, UPDATER, UPDATED_AT
    </sql>

</mapper>
